{% set currentUrl = craft.app.request.url %}
{# {% set currentUrl = craft.app.request.absoluteUrl %} #}



<nav id="navbar">
   <div class="container__nav">
      <ul class="nav nav__social">
         <li><a href="https://www.facebook.com/" class="nav__link social"><i class="fa fa-facebook-official" aria-hidden="true"></i></a></li>
         <li><a href="https://www.instagram.com/" class="nav__link social"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
         <li><a href="https://www.twitter.com/" class="nav__link social"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
         <li><a href="https://www.youtube.com/" class="nav__link social"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
         <li><a href="https://www.spotify.com/" class="nav__link social"><i class="fa fa-spotify" aria-hidden="true"></i></a></li>
      </ul>
      <a href="{{siteUrl}}" class="nav nav__logo"><img class="img__logo" src="{{ siteUrl }}public/logo.svg" alt="myrkva logo" width="113" height="41"></a>
      <ul class="nav">
         <li class="{{ currentUrl == '/festival/' ? 'set__active' : '' }}"><a href="{{siteUrl}}" class="nav__link nav__home">Home</a></li>
         <li class="{{ currentUrl == '/festival/schedule' ? 'set__active' : '' }}"><a href="{{url('schedule')}}" class="nav__link link__schedule">Schedule</a></li>
         <li class="{{ currentUrl == '/festival/practical' ? 'set__active' : '' }}"><a href="{{url('practical')}}" class="nav__link link__practical">Practical</a></li>
         <li><a href="{{url('tickets')}}" class="nav__link btn__tickets">Tickets</a></li>
      </ul>
 </div>
 <div class="nav__print">
   <img class="img__logo" src="{{ siteUrl }}public/logo-print.svg" alt="myrkva logo" width="80" height="50">
   <ul class="print__info">
      <li>Myrkva Festival</li>
      <li>info@myrkvafestival.is</li>
      <li>kristinhelga.be/festival</li>
   </ul>
   <ul class="contact__list">
			<li>Engjavegur 7, Laugardalur</li>
			<li>104 Reykjavík</li>
			<li>Iceland</li>		
	</ul>
 </div>
</nav>
