{% extends "_/layouts/base" %}

{% block head %}
 {{ craft.vite.script("src/js/countdown.js" ) }}
 {{ craft.vite.script("src/js/activeLink.js" ) }}
{% endblock %}

{% block content %}

	{# {% set heroImage = entry.heroImage.first() %} #}
	<header class="bleed" {# style="background-image: url('{{ heroImage.url() }}' #}>
		<div class="header wrapper__non--bleed">
			<h1 class="header__title"><span class="header__year">{{entry.year}}</span> Myrkva Festival</h1>
			<h3 class="header__location">{{entry.location}}</h3>
			<div class="header__names">
				{% set totalBlocks = entry.introNameBlock|length %}
				{% for block in entry.introNameBlock %}
				{% switch block.type %}
						{% case 'introName' %} 
    				<p>{{ block.artistName }}</p>
						 	{% if loop.index < totalBlocks %}
                    <p>&#11045;</p>
             	{% endif %}
				{% endswitch %}
				{% endfor %}
			</div>
			<div class="header__ticket">
				<h3>{{entry.festivalDate}}</h3>
				<h2>Secure <span class="pink">your ticket</span> now&#33;</h2>
				<a href="{{url('tickets')}}" class="btn__tickets">Buy ticket&#33;</a>
			</div>
			<div class="container__countdown">
				<h3 class="countdown__title">Festival Countdown</h3>
				{% include "_/components/countdown.twig" %}
			</div>
		</div>
	</header>

	<section class="container__intro">
		<h2 class="hidden">About Myrkva</h2>
		{#	<img class="intro__img" src="public/home-intro.png" alt="DJ on stage"> #}
			<img class="intro__img" sizes="(max-width: 640px) 100vw, 640px"
					srcset="
					public/home-intro.png 350w,
					public/home-intro.png 385w,
					public/home-intro.png 449w,
					public/home-intro.png 479w,
					public/home-intro.png 508w,
					public/home-intro.png 589w,
					public/home-intro.png 638w,
					public/home-intro.png 640w"
					src="public/home-intro.png" alt="DJ on stage">

		<div class="intro__text">
			<h2>Myrkva has no limits when it comes to music. </h2>
			<p>Featuring two stages and a lineup of talented Icelandic bands and singers, Myrkva captivates audiences year after year. With internationally renowned performers gracing the stage, Myrkva's lineup never fails to ignite excitement, eliciting enthusiastic hand-waving, head-nodding, and exuberant cheers from the crowds.</p>
			<a class="btn btn__intro" href="">Where is the festival?</a>
			<a class="btn btn__intro" href="">Practical info</a>
		</div>
	</section>

	<section class="container__lineup">
		<h2 class="yellow-title">The line up</h2>
		<div class="lineup__intro">
			<h3>Discover the first names for Myrvka Festival {{entry.year}}</h3>
			<a href="{{url('schedule')}}" class="btn btn__shedule">See festival schedule</a>
		</div>
		<div class="lineup__artists">
			{% set artists = craft.entries.section('artists').all() %}
				{% for artist in artists %}
				<a href="{{artist.url}}">
					<article class="lineup__artist">
						{% for photo in artist.artistImage.all() %}
							<img class="artist__img" src="{{ photo.getUrl({ width: 309, height: 363 })}}" alt="{{ artist.artistName }}"/>
							<h3>{{ artist.artistName }}</h3>
							<p>{{artist.artistDate}} <span class="diamond">&#11045;</span> {{artist.stage}}</p>
						{% endfor %} 
					</article>
				</a>		
			{% endfor %} 
		</div>
	</section>
	<section class="container__partners">
		<h2>Our Partners</h2>
		<div class="partners__logo">
		{% for block in entry.partnersBlock %}
			{% switch block.type %}
				{% case 'logo' %} 
				{% set asset = block.img.one() %}
				{% if asset %}
					<img class="partners__img" src="{{ asset.getUrl({width: 135, height:99})}}" alt="{{block.logoName}}">
				{% endif %}
			{% endswitch %}
		{% endfor %}
		</div>
	</section>

{% endblock %}
