{% extends "_/layouts/base" %}

{% block head %}
 {{ craft.vite.script("src/js/activeLink.js" ) }}
{% endblock %}

{% block content %}
	<section class="container__schedule">
  	<h1>Schedule</h1>
		<p class="schedule__intro">
			Find all the information regarding the lineup, performance timings, and additional information about the this years artists.	</p>
		<section class="schedule">
			<h2 class="hidden">The schedule</h2>
			<button class="btn__schedule active">Saturday <br><span class="btn--date">{{entry.dateYearOne}}</span></button> {# add here#}
			<button class="btn__schedule">Sunday <br><span class="btn--date">{{entry.dateYearTwo}}</span></button>
			<div class="stages__line"></div>
			<div class="wrapper__stages">
				<section class="stage stage__main">
				<h2>Main stage:</h2>
				{% set artists = craft.entries.section('artists').all() %}
				{% for artist in artists %}
				<a href="{{artist.url}}">
					<article class="schedule__artist">
						{% for photo in artist.artistImage.all() %}
							<h4>{{artist.artistName}}</h3>
							<p>{{artist.artistTime}}</p>
							<img class="schedule__img" src="{{ photo.getUrl({ width: 103, height:65 })}}" alt="{{ artist.artistName }}"/>
						{% endfor %} 
					</article>
				</a>		
				{% endfor %} 
				</section>
				<section class="stage stage__z">
				<h2>Stage Z:</h2>
				{% set artists = craft.entries.section('artists').all() %}
				{% for artist in artists %}
				<a href="{{artist.url}}">
					<article class="schedule__artist">
						{% for photo in artist.artistImage.all() %}
							<h4>{{artist.artistName}}</h3>
							<p>{{artist.artistTime}}</p>
							<img class="schedule__img" src="{{ photo.getUrl({ width: 103, height:65 })}}" alt="{{ artist.artistName }}"/>
						{% endfor %} 
					</article>
				</a>		
				{% endfor %} 
				</section>
			</div>

		</section>
		<p class="schedule__disclaimer">&#42;Please note that the schedule is subject to change. Any updates or modifications will be announced through our official festival app and on-site information boards.</p>
	</section>
{% endblock %}
