
 {% set artists = craft.entries.section('artists').all() %}
{% set artistsByStageAndDay = artists|filter(artist => artist.stageCategory.one().slug == stage and artist.dayCategory.one().slug == day) %}

{# {% set startTime = '2023-09-16 12:00:00' %}
{% set endTime = '2023-09-17 04:00:00' %}
 #}
{# {% set filteredArtists = artistsByStageAndDay|filter(artist => artist.performanceTime >= startTime and artist.performanceTime <= endTime) %}
 #}

{% for artist in artistsByStageAndDay %}
  <a href="{{ artist.url }}">
    <article class="schedule__artist">
      <h4>{{ artist.title }}</h4>
      <p>{{ artist.artistTime }}</p>
      {% for photo in artist.artistImage.all() %}
        <img class="schedule__img" src="{{ photo.getUrl({ width: 103, height: 65 }) }}" alt="{{ artist.artistName }}" />
      {% endfor %}
      <p class="schedule__arrow hidden">&#8250;</p>
    </article>
  </a>
{% endfor %}