
{% set artistsByStageAndDay = artists|filter(artist => artist.stageCategory.one().slug == stage and artist.dayCategory.one().slug == day) %}

{% for artist in artistsByStageAndDay %}
  <a href="{{ artist.url }}">
    <article class="schedule__artist">
      <h4>{{ artist.artistName }}</h4>
      <p>{{ artist.performanceTime|date('h:i A') }}</p>
      {% for photo in artist.artistImage.all() %}
        <img class="schedule__img" src="{{ photo.getUrl({ width: 103, height: 65 }) }}" alt="{{ artist.artistName }}" />
      {% endfor %}
      <p class="schedule__arrow hidden">&#8250;</p>
    </article>
  </a>
{% endfor %}