
{% set artists = craft.entries.section('artists').orderBy('performanceTime').all() %}
{% set artistsByStageAndDay = artists|filter(artist => artist.stageCategory.one().slug == stage and artist.dayCategory.one().slug == day)|sort((a, b) => (a.performanceTime|date('U') > b.performanceTime|date('U')) ? 1 : -1) %}

{% for artist in artistsByStageAndDay %}
  <a class="schedule__artistlink" href="{{ artist.url }}">
    <article class="schedule__artist">
      <h4>{{ artist.title }}</h4>
      <p><time datetime="{{ artist.performanceTime ? artist.performanceTime|date('Y-m-d H:i:s') : '' }}">{{ artist.artistTime }}</time></p>
      {% for photo in artist.artistImage.all() %}
        <img class="schedule__img" src="{{ photo.getUrl({ width: 103, height: 65 }) }}" alt="{{ artist.artistName }}" />
      {% endfor %}
      <p class="schedule__arrow hidden">&#8250;</p>
    </article>
  </a>
{% endfor %}